.modal.show {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .card{
    width: 100%;
  }
  
  .card-img-top-container {
    background-color: #e1e1e1; /* Fundo cinza por padrão */
    height: 300px; /* Altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita que a imagem extrapole o contêiner */
  }
  
  .card-img-top-container img {
    max-width: 100%; /* Ajusta a largura */
    max-height: 100%; /* Ajusta a altura */
    object-fit: contain; /* Centraliza e mantém a proporção da imagem */
  }
  
  .card-img-top-container span {
    color: #6c757d; /* Cor da mensagem de exemplo */
  }
  
  .modal-dialog {
    max-width: 800px; /* Define o tamanho máximo do modal */
  }
  
  .modal-content {
    border-radius: 10px; /* Borda arredondada para o modal */
  }
  
  .modal-footer button {
    min-width: 100px; /* Tamanho mínimo para botões */
  }
  