.perfil-container {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  flex-direction: column; /* Alinha os elementos (título + conteúdo) verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  position: fixed;
  top: 50%; /* Posiciona o perfil no meio da tela */
  left: 50%; /* Posiciona o perfil no meio da tela */
  transform: translate(-50%, -50%); /* Corrige o alinhamento central */
  width: 70%;
  max-width: 1000px;
  background-color: #f9f4f4;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  z-index: 1050;
}

.perfil-title {
  width: 100%;
  text-align: center; /* Centraliza o título */
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  padding-top: 20px; /* Espaço superior */
}

.perfil-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-image-container {
  text-align: center;
  margin-bottom: 20px;
}

.perfil-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ddd;
  object-fit: cover;
}

.perfil-input {
  margin-top: 10px;
}

.perfil-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.perfil-row {
  display: flex;
  flex-direction: column;
  position: relative;
}

.perfil-row label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.perfil-row input,
.perfil-row select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #333;
  width: 100%;
}

.perfil-row input[readonly],
.perfil-row select:disabled {
  background-color: #eee;
  color: #999;
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px;
}

.password-container .password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
}

.password-container .password-toggle:hover {
  color: #333;
}

.perfil-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.perfil-button {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfil-button:hover {
  background-color: #0056b3;
}

.perfil-edit-button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}
