/* Front-End/ChatBot.css */

/* Posicionamento */
.ChatBot {
  position: fixed;
  bottom: 20px;
  Right: 20px;
  z-index: 1000;
  font-family: "Arial", sans-serif;
}

/* Ícone do chatbot */
.ChatBot-Icon {
  width: 60px;
  height: 60px;
  background-color: #4caf50;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ChatBot-Icon i {
  font-size: 24px;
  color: white;
}

/* Janela do chatbot */
.ChatBot-Window {
  width: 400px;
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Cabeçalho */
.ChatBot-Header {
  background-color: #4caf50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ChatBot-Header-Left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ChatBot-Avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ChatBot-Header h4 {
  margin: 0;
  text-align: center;
}

/* Corpo principal */
.ChatBot-Body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  
}

/* Opções de ajuda */
.ChatBot-Help {
  text-align: Left;
  box-shadow: 0 4px 8px rgba(65, 230, 5, 0.2);
  border-radius: 15px;
  margin-left: 5px;
  
  
}

.ChatBot-Help h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 50px;
  
  

}

.ChatBot-Help ul {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  margin-left: 20px;
  

}

.ChatBot-Help li {
  padding: 8px 0;
}

.ChatBot-Help a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

/* Mensagens */
.ChatBot-Messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ChatBot-Message {
  max-width: 70%;
  padding: 10px;
  border-radius: 8px;
  word-wrap: break-word;
}

.UserMessage {
  align-self: flex-end;
  background-color: #e0ffe5;
  color: #333;
}

.AIMessage {
  align-self: flex-start;
  background-color: #f0f0f0;
  color: #555;
}

/* Input */
.ChatBot-Input {
  display: flex;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.ChatBot-Input input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  background: #f9f9f9;
}

.ChatBot-Input button {
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
