/* src/styles.css */
:root {
    --red: ##f0f3f4;
    --dark-gray: #191919;
    --light-gray: #999999;
    --white: #ffffff;
  }
  
  body {
    font-family: 'Assistant', sans-serif;
    background-color: var(--red);
    margin: 0;
  }
  
  